#about-container
{
    position:relative;
    height:1000px;
    background-color:#43a6f6;
    overflow:hidden;
}

#about-title
{
    color:#FFF;
    font-size:100px;
    font-family:'Futura_bold';
}

#about-description
{
    color:#FFF;
    font-size:36px;
    font-family:'Futura_light';
}

#skills-title
{
    color:#FFF;
    font-size:72px;
    font-family:'Futura_book';
    border-bottom:1px solid #FFF;
    margin-top:1.5em;
}