#about-container {
    position: relative;
    height: 1000px;
    background-color: $mainBgColor;
    overflow: hidden;
}

#about-content-container
{
    margin-left:7em;
}

#about-image
{
    margin-left:-7em;
}

#about-image-addons
{
    position:absolute;
    left:-7.39em;
    top:20px;
}

#about-title
{
    color:grey;
    font-size:100px;
    font-family: 'Futura_bold';
}

.about-title-activated
{
    color:$mainColor !important;
    transition: color 1s ease-in-out;
}

#about-text {
    font-size: 56px;
    color: #3b424a;
    font-family: 'Antipastopro';
    height:300px;
}

#resume-btn {
    padding: 1.1em;
    font-size: 20px;
    font-family: 'Futura_bold';
    background-color: $mainColor;
    border-color: $mainColor;
    margin-top: -2.5em;
    transition:0.5s ease-in-out;

    &:hover
    {
        box-shadow: 0px 0px 21px 0px rgba(101,81,249,1);
    }
}

.location-highlight
{
    position:relative;

    &::before
    {
        content:'\f3c5';
        font-family:'Font Awesome 5 Free';
        font-weight:900;
        margin-right:10px;
    }

    &::after
    {
        position:absolute;
        content:'';
        border-bottom:6px solid $mainColor;
        width:100%;
        left:50%;
        transform:translateX(-50%);
        top:100%;
        animation:borderAnimation 0.5s linear;
    }
}

@keyframes borderAnimation
{
    0% {
        width: 0%
    }

    100% {
        width: 100%
    }
}

.resume-btn-hidden
{
    opacity:0;
}