.btn
{
    &:focus, &:active
    {
        outline:none !important;
        box-shadow:none !important;

    }
}

.invalid-field-border
{
    border-color:#f44242;
}

.deep-danger
{
    background-color:#f44242;
    color:white;
}

.container-center
{
    min-height:100%;
    min-height: 100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}