.btn
{
    &:focus, &:active
    {
        outline:none !important;
        box-shadow:none !important;

    }
}

.invalid-field-border
{
    border-color:#f44242;
}

.deep-danger
{
    background-color:#f44242;
    color:white;
}