$fieldColor: #6a6a6a;
$fieldFont: 'Calibre_light';

#contact-container 
{
    height: 1000px;
    position: relative;
    background-color: $mainBgColor;
    margin-left: 5em;
}

#contact-form-container
{
    margin-right:10em;
}

#contact-form-title
{
    font-family:'Antipastopro';
    font-size:90px;
    position:relative;
}

.contact-form-title-toggled 
{
    &::after 
    {
        position: absolute;
        content: '';
        border-bottom: 10px solid $mainColor;
        width: 50%;
        transform: translateX(-50%);
        animation: contactTitleAnimation 0.5s linear;
        left: 50%;
        top: 100%;
    }
}

@keyframes contactTitleAnimation 
{
    0% {
        width: 0%
    }

    100% {
        width: 50%
    }
}

#contact-form
{
    margin-top:5em;
    width:400px;

    .field-icons
    {
        color:$fieldColor;
        font-size:40px;
        padding-left:0;
    }
}

.spinner-border
{
    border:0.15em solid currentColor;
    border-right-color:transparent;
}


.contact-field-group
{
    position:relative;
    padding-left:0;
    padding-right:0;

    .input-border 
    {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        transform: scaleX(0);
        transform-origin: 0 0;
        background: $mainColor;
        transition: all 0.15s ease;
    }

    .contact-textfield
    {
        border: none;
        border-bottom: 1px solid #ced4da;
        border-radius: 0;
        font-family: $fieldFont;
        font-size:30px;
        height:40px;
        padding-left: 0;
        padding-right: 0;
        z-index: 100;
        background-color: rgba(0, 0, 0, 0);
        transition: 0.15s ease;


        &:not(:placeholder-shown)
        {
            + .input-label 
            {
                transform: translateY(-25px);
                font-size:20px;
                color: #9098A9;
            }
        }


        &:focus 
        {
            outline: none;
            box-shadow: none;

            + .input-label
            {
                transition: 0.15s ease;
                transform: translateY(-25px);
                font-size:20px;
                color: #9098A9;
                backface-visibility:hidden;

                + .input-border
                {
                    transform: scaleX(1);
                }
            }
        }
    }

    .input-label 
    {
        position: absolute;
        top: 0px;
        left: 0;
        z-index: 50;
        transform-origin: 0 0;
        transition: all 0.15s ease;
        color: #9098A9;
        font-family: $fieldFont;
        font-size:30px;
        font-weight:500;
        pointer-events:none;
    }
}

.contact-form-field-container:nth-child(2)
{
    margin-top:3em;
}

#contact-message-field {
    background-color: rgba(0,0,0,0);
    border-radius: 10px;
    border: 2px solid $fieldColor;
    resize: none;
    color: $fieldColor;
    margin-top: 2em;
    font-family: $fieldFont;
    font-size: 20px;

    &:focus {
        border: 2px solid $mainColor !important;
        outline: 0px !important;
        box-shadow: none;
    }
}

#contact-submit {
    border: 5px solid $mainColor;
    font-family: 'Futura_heavy';
    font-size: 30px;
    width: 450px;
    transition: ease-in-out 0.5s;
    text-transform: uppercase;
    background-color: $mainColor;
    margin-top: 0.5em;

    &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 21px 0px rgba(101,81,249,1);
    }
}

.contact-btn-error
{
    $errColor: rgb(255, 77, 77) !important;
    background-color:$errColor;
    border-color:$errColor;
    box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.39);
}

.contact-btn-success
{
    $successColor: rgb(0, 204, 102) !important;
    background-color:$successColor;
    border-color:$successColor;
   // box-shadow: 0px 0px 38px -10px rgba(0,0,0,0.75);
   box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.39);
   outline:1px;
}

.contact-btn-normal
{
    background-color:$mainColor !important;
    border-color:$mainColor !important;
}


//=====================================
//              SERVICES
//=====================================

#services-container
{
    text-align:center;
}

#services-title {
    font-family: 'Futura_bold';
    font-size: 90px;
    background-color: $mainColor;
    padding: 0.2em;
    color: #FFF;
}

#services-subtitle
{
    font-size:48px;
    color:#3e3e3e;
    margin-top:0.5em;
    font-family: 'Calibre_light';
}

.service-page-active
{
    color:$mainColor;
}

#service-list-container
{
    margin-top:5em;
}

.service-inner-icon-container
{
    font-size:72px;
    color:$mainColor;
}

.service-inner-title
{
    font-family: 'Calibre_semibold';
    font-size:30px;
    color:#373737;
}

.service-inner-text
{
    font-family: 'Calibre_medium';
    font-size:20px;
    color:#2d2d2d;
}

.service-container
{
    transition:1s ease-in-out;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top:5em;
    padding: 1rem 0;
    list-style-type: none;

    li {
        margin: 0 0.25rem;
    }

    button {
        display: block;
        width: 1rem;
        height: 1rem;
        padding: 0;
        border: none;
        border-radius: 100%;
        background-color: #828282;
        text-indent: -9999px;

        &:focus
        {
            outline:none;
        }
    }

    li.slick-active button {
        background-color: $mainColor;
    }
}

@media only screen and (max-width:768px)
{
    #contact-inner-container
    {
        align-items:start !important;
        margin-top:2em;
        padding-bottom:8em;
    }

    #contact-container
    {
        margin-left:0;
        height:100%;
    }

    #contact-form-title
    {
        font-size:48px;
         margin-top:3em;
    }

    #contact-form
    {
        padding-left:5em;
        padding-right:5em;
        margin-top:3em;
    }

    #contact-submit
    {
        font-size:24px;
    }

    #contact-message-field
    {
        height:150px;
    }

    .field-icons
    {
        display:none;
    }
   
    #services-subtitle
    {
        font-size:30px;
    }

    #services-title 
    {
        font-size: 40px;
        display: inline-block !important;
        width: 300px !important;
    }

    .service-inner-icon-container
    {
        font-size:48px;
    }

    .service-inner-title
    {
        font-size:20px;
    }

    .service-inner-text
    {
        font-size:10px;
    }

    #service-list-container
    {
        margin-left:0.5em;
        margin-right:0.5em;
    }

}