$fieldColor: #6a6a6a;

#contact-container {
    height: 1000px;
    position: relative;
    background-color: $mainBgColor;
    margin-left:5em;
}

#contact-inner-container
{
    margin-top:10em;
}

#contact-form-container
{
    margin-right:10em;
}

#contact-form-title
{
    font-family:'Antipastopro';
    font-size:90px;
    position:relative;

    &::after
    {
        position:absolute;
        content:'';
        border-bottom: 10px solid $mainColor;
        width:50%;
        transform:translateX(-50%);
        left:50%;
        top:100%;
    }
}


#contact-form-desc
{
    color:#FFF;
    font-family:'Futura_light';
    font-size:30px;
    text-align:center;

}

#contact-form
{
    margin-top:5em;
    width:400px;

    .field-icons
    {
        color:$fieldColor;
        font-size:40px;
        padding-left:0;
    }
}

.spinner-border
{
    border:0.15em solid currentColor;
    border-right-color:transparent;
} 

.contact-textfield
{
    background-color:rgba(0,0,0,0);
    border:0;
    border-bottom:2px solid $fieldColor;
    border-radius:0;
    padding:0;
    font-family:'Futura_light';
    font-size:30px;
    height:40px;
    color:$fieldColor;

    &::-moz-placeholder, &::-webkit-input-placeholder
    {
        color:$fieldColor;
    }

    &:focus
    {
        background-color:rgba(0,0,0,0);
        border-bottom:2px solid $mainColor;
        outline:0px !important;
        box-shadow:none;
        color:$fieldColor;
    }

}

.contact-form-field-container:nth-child(2)
{
    margin-top:3em;
}

#contact-message-field {
    background-color: rgba(0,0,0,0);
    border-radius: 10px;
    border: 2px solid $fieldColor;
    resize: none;
    color: $fieldColor;
    margin-top: 2em;
    font-family: 'Futura_light';
    font-size: 20px;

    &:focus {
        border: 2px solid #FFF !important;
        outline: 0px !important;
        box-shadow: none;
    }
}

#contact-submit
{
    border:5px solid $mainColor;
    font-family:'Futura_heavy';
    font-size:30px;
    width:450px;
    transition:ease-in-out 0.5s;
    text-transform:uppercase;
    background-color:$mainColor;
    box-shadow: 0px 0px 21px 0px rgba(101,81,249,1);

    &:hover
    {
        cursor:pointer;
    }
}

.contact-btn-error
{
    $errColor: rgb(255, 77, 77) !important;
    background-color:$errColor;
    border-color:$errColor;
    box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.39);
}

.contact-btn-success
{
    $successColor: rgb(0, 204, 102) !important;
    background-color:$successColor;
    border-color:$successColor;
   // box-shadow: 0px 0px 38px -10px rgba(0,0,0,0.75);
   box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.39);
   outline:1px;
}

.contact-btn-normal
{
    background-color:$mainColor !important;
    border-color:$mainColor !important;
}


//=====================================
//              SERVICES
//=====================================

#services-container
{
    text-align:center;
}

#services-title {
    font-family: 'Futura_bold';
    font-size: 90px;
    background-color: $mainColor;
    width: 800px;
    padding: 0.2em;
    color: #FFF;
}

#services-subtitle
{
    font-size:48px;
    color:#3e3e3e;
    margin-top:0.5em;
}

#service-list-page-container
{
    text-align:center;
    margin-top:5em;
}

.service-page {
    color: #828282;

    &:hover {
        cursor: pointer;
    }
}

.service-page-active
{
    color:$mainColor;
}

#service-list-container
{
    margin-top:6em;
}

.service-inner-icon-container
{
    font-size:60px;
    color:$mainColor;
}