/* 
   ================================
                FONTS
   ================================
*/

@font-face
{
    font-family: Dienstag;
    src: url('../../fonts/Dienstag.ttf') format('truetype');
}

@font-face
{
    font-family: 'Futura_bold';
    src: url('../../fonts/Futura_bold.otf') format('opentype');
}

@font-face
{
    font-family: 'Futura_book';
    src: url('../../fonts/Futura_book.ttf') format('truetype');
}

@font-face
{
    font-family: 'Futura_heavy';
    src: url('../../fonts/Futura_heavy.ttf') format('truetype');
}

@font-face
{
    font-family: 'Futura_light';
    src: url('../../fonts/Futura_light.ttf') format('truetype');
}

@font-face
{
    font-family: 'Proxima_regular';
    src: url('../../fonts/ProximaNova-Regular.otf') format('opentype');
}

@font-face
{
    font-family: 'Proxima_bold';
    src: url('../../fonts/ProximaNova-Bold.otf') format('opentype');
}

@font-face
{
    font-family: 'AllerDisplay';
    src: url('../../fonts/AllerDisplay.ttf') format('truetype');
}

@font-face
{
    font-family: 'Antipastopro';
    src: url('../../fonts/Antipastopro.otf') format('opentype');
}

@font-face {
    font-family: 'Calibre_bold';
    src: url('../../fonts/CalibreBold.otf') format('opentype');
}

@font-face {
    font-family: 'Calibre_light';
    src: url('../../fonts/CalibreLight.otf') format('opentype');
}

@font-face {
    font-family: 'Calibre_medium';
    src: url('../../fonts/CalibreMedium.otf') format('opentype');
}

@font-face {
    font-family: 'Calibre_semibold';
    src: url('../../fonts/CalibreSemibold.otf') format('opentype');
}

@font-face {
    font-family: 'Calibre_regular';
    src: url('../../fonts/CalibreRegular.otf') format('opentype');
}

@font-face {
    font-family: 'Museo_light';
    src: url('../../fonts/MuseoSans-100.otf') format('opentype');
}

@font-face {
    font-family: 'Museo_bold';
    src: url('../../fonts/MuseoSans_700.otf') format('opentype');
}