#footer-container
{
    height:380px;
    background-color:#0f0f0f;
    overflow:hidden;
    position:relative;
}

#inner-footer
{
    justify-content:space-around;
}

.footer-info-title {
    font-family: 'Museo_bold';
    font-size: 30px;
    font-weight:bold;
    color:#5f97fd;
}

.footer-info-description {
    font-family: 'Museo_light';
    display: block;
    font-size: 30px;
    color: #d0d0d0;
    position: relative;
    margin-bottom:15px;

    .fa-heart {
        font-size: 22px;
        color: $mainColor;
    }

    &:hover 
    {
        color: #d0d0d0;
        text-decoration:none;
    }

    &:focus
    {
        outline:none;
    }
}

.footer-info-container
{
    text-align:center;
    word-wrap:break-word;
}

#footer-social-icons
{
    width:400px;
    margin-top:4em;

    a:hover
    {
        text-decoration:none;
    }
}

.inner-social-icon
{
    color:#FFF;
    z-index:10;
    font-size:40px;
}

.social-footer-icon-container
{
    display:inline-flex;
    justify-content:center;
    align-items:center;
}

@mixin social-container-color($BColor)
{
    background-color: $BColor;
    border-left: solid 1px $BColor;
    border-right: solid 1px $BColor;

    &:before, &:after
    {
        border-top: solid 1.4142px $BColor;
        border-right: solid 1.4142px $BColor;
    }

    &:before
    {
      border-top: solid 1.4142px $BColor;
      border-right: solid 1.4142px $BColor;
    }

    &:after
    {
        border-bottom: solid 1.4142px $BColor;
        border-left: solid 1.4142px $BColor;
    }
}

.footer-btn {
    background-color: $mainColor;
    border: 0;
    font-family: 'Futura_bold';
    font-size: 18px;
    padding: 1em;
    width: 275px;
    margin-top:1em;
    transition: ease-in-out 0.5s;
    box-shadow: 0px 0px 21px 0px rgba(101,81,249,1);

    &:hover 
    {
        opacity: 0.8;
        background-color:$mainColor;
    }
}

.social-display {
  position: relative;
  width: 100px; 
  height: 57.74px;
  margin: 28.87px 0;
  transition:ease-in-out 0.5s;

  &:hover
  {
      cursor:pointer;
      opacity:0.6;
      
  }
}

#twitter-social-container {
    @include social-container-color(#5d68ff);
}

#github-social-container {
    @include social-container-color(#11ca60);
}

#rss-social-container {
    @include social-container-color(#ff9c00);
}

#dribbble-social-container {
    @include social-container-color(#a263f9);
    margin-left: 3.5em;
}

#stackoverflow-social-container {
    @include social-container-color(#f94747);
}

#github-social-container, #rss-social-container, #stackoverflow-social-container {
    margin-left: 1em;
}

.social-display:before,
.social-display:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 70.71px;
  height: 70.71px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 13.6447px;
}

.social-display:before {
  top: -35.3553px;
}

.social-display:after {
  bottom: -35.3553px;
}

#footer-image
{
    margin-left:-80px;
    margin-bottom:-120px;
}