/* 
   ================================
           HOME CONTAINER
   ================================
*/

#home-container
{
    margin:0;
    padding:0;
    width:auto;
    position:relative;
    overflow:hidden;
    height:1000px !important;
    z-index:2;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('../images/home_bg.png');

    #home-title 
    {
        color:#FFF;
        font-family:Dienstag;
        font-size:72px;
        margin-top:0;
        margin-bottom:0;
    }

    #home-description
    {
        color:#FFF;
        font-family:Dienstag;
        font-size:30px;
    }
}

/* 
   ================================
           SOCIAL ICONS
   ================================
*/

.social-icon-container
{
    $cSize: 50px;
    $cAlign: center;

    width:$cSize;
    height:$cSize;
    border-radius:50%;
    text-align:$cAlign;
    line-height:$cSize;
    display:inline-flex;
    justify-content:$cAlign;
    align-items:$cAlign;
    margin-left:0.3em;
    background-color:rgba(124,124,124, 0.3);
    transition:ease-in-out 0.5s;

    a
    {
        display:inline-grid;
    }

    &:hover
    {
        cursor:pointer;
        background-color:rgba(124,124,124, 0.5);
    }

    .fab,.fas
    {
        font-size:1.8em;    
        color:#FFF;
    }
    
}

/* 
   ================================
           CONTINUE BUTTON
   ================================
*/

#bottom-continue-container
{
    position:absolute;
    bottom:0;
    margin-bottom:7em;
    left:50%;
    transform:translate(-50%);

    #continue-btn
    {
        font-family:Dienstag;
        font-size:24px;
        background-color:rgba(0,0,0,0);
        border:1px solid #FFF;
        border-radius:0;
        padding:1em;
        transition:ease-in-out 0.5s;

        &:hover
        {
            background-color:rgba(255,255,255,0.1);
            color:#FFF;
        }

        .fas
        {
            margin-left:1em;
        }
    }
}