/* 
   ================================
              NAVBAR
   ================================
*/

#main-navbar
{
    font-family:Dienstag;
    font-size:30px;
    padding: 1em;
    background-color:transparent !important;
    z-index:2000;
    
    .nav-link 
    {
        color:#ffffff;
        padding-left:0;
        padding-right:0;

    }

    .nav-link-item
    {
        &:hover::after
        {
            transform:scaleX(1); 
        }

        &::after
        {
            display:block;
            content: '';
            border-bottom:solid 2px #FFF;
            transform: scaleX(0);
            transition:transform 0.25s ease-in-out;
            transform-origin: 0% 50%;
        }
    }

    .nav-selector
    {
        padding-left:16px;
        padding-right:16px;
    }

    span.nav-link
    {
        &:hover 
        {
            cursor:default;
            border-bottom:none;
        }
    }

    #navbar-left
    {
        margin-left:2.5em;
    }

    #navbar-right
    {
        margin-right:2.5em;
    }

    .nav-active
    {
        border-bottom:2px solid #FFF;
    }
}