#portfolio-container
{
    position:relative;
    height:1000px;
    overflow:hidden;
    background:linear-gradient(rgba(117, 76, 220, 0.80), rgba(117, 76, 220, 0.80)), url('../images/code_bg.png');
}