#portfolio-container
{
    position:relative;
    height:1000px;
    overflow:hidden;
    background:linear-gradient(rgba(117, 76, 220, 0.80), rgba(117, 76, 220, 0.80)), url('../images/code_bg.png');
}

#project-container
{
    display:inline-flex;
    margin-top:10em;
}

#project-preview
{
    background:url('../images/portfolioProjectPreview.png');
    width:910px;
    height:660px;
    border:1px solid #000;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.project-stat-text
{
    color:#FFF;
    font-size:30px;
    font-family:'Futura_bold';
    padding-bottom:0.5em;
}

#project-description-container
{
    width:500px;
    margin-left:4em;
}

#project-stats
{
    margin-top:3em;
    
    .stat-separator
    {
        font-size:40px;
    }

    #project-languages
    {
        margin-top:-10px;
    }
}

#project-title
{
    color:#FFF;
    font-size:80px;
    font-family:'Futura_bold';
}

#project-description
{
    color:#FFF;
    font-size:48px;
    font-family:'Futura_light';
    word-wrap:break-word;
}

#view-github-btn
{
    background-color:rgba(0,0,0,0);
    border: 5px solid #FFF;
    font-size:30px;
    font-family:'Futura_bold';
    padding:0.8em;
    padding-left:1.2em;
    padding-right:1.2em;
    margin-top:1.5em;
    transition:ease-in-out 0.5s;

    &:hover
    {
        background-color:rgba(0,0,0,0.2);
    }
}

.portf-arrow
{
    color:#FFF;
    font-size:150px;
    font-family:'Letter Gothic Std';
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    z-index:10;
    padding:20px;
    padding-top:30px;
    border-radius:5px;
    padding-bottom:0;
    transition:ease-in-out 0.5s;

    &:hover
    {
        cursor:pointer;
        background-color: rgba(0, 0, 0, 0.05);
    }
}

#portf-left-arrow
{
    margin-left: 0.2em;
}

#portf-right-arrow
{
    right:0;
    margin-right:0.2em;
}