#skills-container 
{
    position: relative;
    height: 1000px;
    background-color: $mainBgColor;
    overflow: hidden;
    text-align:center;
}

#skill-title 
{
    color: #2c2c2c;
    font-family: 'Antipastopro';
    font-size:100px;
    position:relative;
    margin-top:1em;

    &::after
    {
        position: absolute;
        content: '';
        border-bottom: 10px solid $mainColor;
        width:20%;
        transform: translateX(-50%);
        left: 50%;
        top: 100%;
    }
}

.skill-inner-container
{
    background-color:#d7d7d7;
}