#skills-container 
{
    position: relative;
    height: 1000px;
    background-color: $mainBgColor;
    text-align:center;
}

#skill-title 
{
    color: #2c2c2c;
    font-family: 'Antipastopro';
    font-size:100px;
    position:relative;
    margin-top:1em;
}

.skill-title-toggled 
{
    &::after
    {
        position: absolute;
        content: '';
        border-bottom: 10px solid $mainColor;
        width: 20%;
        transform: translateX(-50%);
        animation:titleAnimation 0.5s linear;
        left: 50%;
        top: 100%;
    }
}

@keyframes titleAnimation
{
    0% { width: 0% }
    100% { width: 20% }
}

#skills-wrapper
{
    margin-top:8em;
    justify-content:center;
    position:relative;
}

.skill-inner-container
{
    border:2px solid #d7d7d7;
    border-radius:10px;
    height:450px;
}

.skill-icon-container 
{
    $skillContainerSize: 140px;

    width: $skillContainerSize;
    height: $skillContainerSize;
    background-color: $mainColor;
    border-radius: $skillContainerSize;
    display:flex;
    justify-content:center;
    text-align:center;
    align-items:center;
    position:absolute;
    left:50%;
    top:-70px;
    transform:translateX(-50%);
}

.skill-icon
{
    color:#FFF;
    font-size:48px;
}

.skill-type-title 
{
    font-family: 'Calibre_bold';
    font-size: 36px;
    color: #2c2c2c;
    margin-top:3em;
}

.skill-list-container
{
}

.skill-badge
{
    background-color:$mainColor;
    color:#FFF;
    font-family:'Calibre_regular';
    font-size:28px;
    margin-top:0.2em;
    vertical-align:super;

    .fa-circle
    {
        font-size:10px;
    }

    .skill-name
    {
        vertical-align:sub;
    }
}

.skill-shape
{
    position:absolute;
}

#diamond-shape
{
    bottom:150px;
    left:100px;
}

#circle-shape
{
    bottom:150px;
    right:100px;
}

#square-shape 
{
    top: 150px;
    left: 100px;
}

#triangle-shape 
{
    top: 150px;
    right: 100px;
}