$themeColor: #5f39de;
$themeFont: 'Futura_bold';
$iconContainerColor: #17151c;
$itemBgColor: #211f27;
$contentBgColor: #353340;

body
{
    background-color:#523aa3;
}


#component-nav-container
{
    height:600px;
    width:210px;
    background:#211f27;
    position:relative;

    .component-nav-active
    {
        border-right:5px solid $themeColor;
    }

    .list-group-item-action:hover
    {
        z-index:0;
        background-color:#211f27;
    }
}

.admin-nav-item
{
    border-radius:0 !important;
    height:50px;
    text-transform:uppercase;
    font-family:$themeFont;
    border-left:0;
    border-right:0;
    border-bottom:1px solid rgba(0,0,0,.125);
    background-color:$itemBgColor;
    color:#bcbcbc;
    font-size:14px;

    &:first-of-type
    {
        border-top:0;
    }
}

.admin-nav-icon-container
{
    display:inline-flex;
    color:#FFF;
    background-color: $iconContainerColor;
    position:absolute;
    top:0;
    left:0;
    height:50px;  
    width:50px;
    justify-content:center;
    align-items:center;
    
    i
    {
        font-size:20px;
    }

}

.admin-nav-item-text
{
    margin-left:50px;
}

#component-content-container
{
    width:800px;
    height:600px;
    background-color:$contentBgColor;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.41);
    padding:4em;
}

#admin-nav-logout-container
{
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    margin-bottom:2em;
}

#nav-user-container
{
    padding:1em;
    box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
    overflow:hidden;
    z-index:5;
}

#admin-nav-list
{
    margin-top:0.2em;
}

#nav-user-img-container
{
    $imgSize: 48px;

    display:inline-block;
    width:$imgSize;
    height:$imgSize;
    border-radius:$imgSize;
    background-size:$imgSize;
    border:2px solid $themeColor;
}

#nav-user-details-container
{
    display:inline-block;
    margin-left:0.5em;
    
}

#nav-user-name
{
    color:#FFF;
    font-size:18px;
    font-family:$themeFont;
}

#nav-user-title
{
    color:#b0b0b0;
    font-size:16px;
    margin-top:-5px;
}

#admin-logout-btn
{
    background-color:$themeColor;
    border-color:$themeColor;
    font-family:$themeFont;
    width:150px;
    font-size:16px;
    transition:0.5s ease-in-out;

    &:hover
    {
        opacity:0.8;
    }
}

.admin-component-title
{
    color:#e8e8e8;
    border-bottom:3px solid $themeColor;
    display:inline;
    padding-bottom:10px;
}

.inner-component-title
{
    font-family:$themeFont;
    display:inline;
}

.components-container
{
    margin-top:3em;
}

.inner-component-card
{
    background-color:#33313d;
    color:#d8d8d8;
    padding:0;

    .card-header
    {
        background-color:#28262f;
      
        i
        {
            font-size:7px;
            display:inline-block;
            vertical-align:4px;
            padding-right:0.5em;
            color:$themeColor;
        }
    }
}

