$themeColor: #5f39de;
$themeFont: 'Futura_bold';
$iconContainerColor: #17151c;
$itemBgColor: #211f27;
$contentBgColor: #353340;

body
{
    background-color:#523aa3;
}


#component-nav-container
{
    height:600px;
    width:210px;
    background:#211f27;
    position:relative;

    .component-nav-active
    {
        border-right:5px solid $themeColor;
    }

    .list-group-item-action:hover
    {
        z-index:0;
        background-color:#211f27;
    }
}

.admin-nav-item
{
    border-radius:0 !important;
    height:50px;
    text-transform:uppercase;
    font-family:$themeFont;
    border-left:0;
    border-right:0;
    border-bottom:1px solid rgba(0,0,0,.125);
    background-color:$itemBgColor;
    color:#bcbcbc;
    font-size:14px;

    &:first-of-type
    {
        border-top:0;
    }
}

.admin-nav-icon-container
{
    display:inline-flex;
    color:#FFF;
    background-color: $iconContainerColor;
    position:absolute;
    top:0;
    left:0;
    height:50px;  
    width:50px;
    justify-content:center;
    align-items:center;
    
    i
    {
        font-size:20px;
    }

}

.admin-nav-item-text
{
    margin-left:50px;
}

#component-content-container
{
    width:800px;
    height:600px;
    background-color:$contentBgColor;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.41);
    padding:4em;
    overflow:hidden;
}

#admin-nav-logout-container
{
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    margin-bottom:2em;
}

#nav-user-container
{
    padding:1em;
    box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
    overflow:hidden;
    z-index:5;
}

#admin-nav-list
{
    margin-top:0.2em;
}

#nav-user-img-container
{
    $imgSize: 48px;

    display:inline-block;
    width:$imgSize;
    height:$imgSize;
    border-radius:$imgSize;
    background-size:$imgSize;
    border:2px solid $themeColor;
}

#nav-user-details-container
{
    display:inline-block;
    margin-left:0.5em;
    
}

#nav-user-name
{
    color:#FFF;
    font-size:18px;
    font-family:$themeFont;
}

#nav-user-title
{
    color:#b0b0b0;
    font-size:16px;
    margin-top:-5px;
}

#admin-logout-btn
{
    background-color:$themeColor;
    border-color:$themeColor;
    font-family:$themeFont;
    width:150px;
    font-size:16px;
    transition:0.5s ease-in-out;

    &:hover
    {
        opacity:0.8;
    }
}

.admin-component-title
{
    color:#e8e8e8;
    border-bottom:3px solid $themeColor;
    display:inline;
    padding-bottom:10px;
}

.inner-component-title
{
    font-family:$themeFont;
    display:inline;
}

.components-container
{
    margin-top:3em;
}

.center-body
{
    text-align:center;
}

.component-side-margin
{
    margin-left:1em;
}

.component-upper-margin
{
    margin-top:2em;
}

.inner-component-card
{
    background-color:#33313d;
    color:#d8d8d8;
    padding:0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
    border:0;

    .card-header
    {
        background-color:#28262f;
      
        i
        {
            font-size:7px;
            display:inline-block;
            vertical-align:4px;
            padding-right:0.5em;
            color:$themeColor;
        }
    }
}

//================================
// DASHBOARD STYLES
//================================

.toggle
{
    width:100% !important;
    margin-top:0.5em;
}

.dashboard-mini-stat-container
{
    display:inline-block;
    margin-left:0.5em;
    text-align:center;

    h1
    {
        font-family:'AllerDisplay'
    }

    h5
    {
        line-height:0;
        margin-left:0.4em;
        font-family:'Antipastopro';
    }
}

.dashboard-stat-card
{
    max-width:32.5%;
    flex:0 0 32.5%;
    color:#FFF;
}

#user-total-card
{
    background-color: rgb(101, 188, 105); 
}

#user-monthly-card
{
    background-color: rgb(38, 166, 153); 
}

#github-card {
    background-color: rgb(100, 55, 222 );
}

#twitter-card {
    background-color: rgb(38, 115, 166); 
}

.dashboard-mini-stat-icon 
{
    vertical-align: 10px;
}

#dashboard-graph-container, #dashboard-controls-container
{
    margin-top:1em;
}

#dashboard-graph-container 
{
    height: 245px;
    max-width: 66%;
    flex: 0 0 66%;
    background-color: #2b2833;
}

#dashboard-controls-container
{
    max-width:32.5%;
    flex:0 0 32.5%;
    position:relative;
    display:flex;
    min-width:0;

}

#github-card
{
    max-width:100%;
}

#maint-btn-container, #shutdown-btn-container
{
    margin-top:0.55em;
}



//================================
// REPO STYLES
//================================
#repo-count-text {
    font-family: 'Futura_light';
    margin-right: 1em;
    text-transform: uppercase;

    .badge {
        display: inline-block;
        vertical-align: 2px;
    }
}

#repo-table, .color-table {
    color: #bcbcbc;

    th {
        border-top: 0;

        &:first-child {
            border-bottom: 3px solid #3988f5;
        }

        &:nth-child(2) {
            border-bottom: 3px solid #38ff7e;
        }

        &:nth-child(3) {
            border-bottom: 3px solid #fff838;
        }

        &:nth-child(4) {
            border-bottom: 3px solid #ff3838;
        }
    }

    .repo-controls-cell
    {
        text-align:center;

        .fa-edit
        {
            padding-right:0.5em;
        }

        .repo-control-btn
        {
            &:hover
            {
                cursor:pointer;
                opacity:0.7;
            }
        }
    }
}

#repo-edit-modal {
    .modal-body {
        padding: 2em;
    }

    .repo-edit-form-headers {
        line-height: 2;
    }

    #repo-edit-area-container {
        margin-top: 1em;
        margin-left: 0.15em;

        .repo-edit-form-headers {
            padding-left: 0;
        }
    }

    #repo-edit-form-controls
    {
        text-align: center;
        display: block;
        margin-top: 2em;
    }
}

#repo-remove-modal
{
    .modal-body
    {
        text-align:center;
    }
}

//===================================
// SOCIAL MEDIA STYLES
//===================================
.social-media-display {
    $socialDisplayDim: 100px;
    width: $socialDisplayDim;
    height: $socialDisplayDim;
    border-radius: $socialDisplayDim;
    background-color: transparent;
    border: 2px solid #4f38ff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e1e1e1;

    i {
        font-size: 48px;
    }
}

.social-media-group
{
    align-items:center;
    width:500px;

    &:not(:first-child)
    {
        margin-top:2em;
    }

    input
    {
        margin-left:2em;
        background-color:transparent;
        border:0;
        border-bottom:1px solid #FFF;
        border-radius:0;
        padding:0;
        color:#FFF;
        font-size:20x;

        &:focus, &:active
        {
            background-color:transparent;
            outline:none !important;
            box-shadow:none !important;
            color:#FFF;
            font-size:20px;
        }
    }

    $displayBorder: 3px;

    #Twitter-display
    {
        border:$displayBorder solid #1493ff;
    }

    #Rss-display
    {
        border:$displayBorder solid #ffa914;
    }

    #Github-display
    {
        border:$displayBorder solid #a32ffc;
    }

   #StackOverflow-display
   {
       border:$displayBorder solid #fc4137;
   }

    #Dribble-display
    {
        border:$displayBorder solid #37fc6a;
    }
}

#social-btn-container
{
    margin-top:2em;
    padding-bottom:2em;
    text-align:center;

    .btn
    {
        margin-left:5em;
    }
}

//================================
// RSS STYLES
//================================

#rss-items-list
{
    margin-top:0.5em;

    .rss-item
    {
        background-color:inherit;

        .close
        {
            color:#FFF;
        }
    }
}

#rss-channel-component, #rss-items-component
{
    .form-control
    {
        background-color:inherit;
        border:1px solid #6493ff;
        color:#FFF;
        border-radius:5px;
    }

    .rss-form-label
    {
        font-weight:bold;
    }
}

#rss-items-component
{
    .form-control
    {
        border-top-right-radius:0;
        border-bottom-right-radius :0;
    }
}

.rss-item
{
    color:#FFF;

    &:hover
    {
        text-decoration:none;
        color:#FFF;
    }
}


//======================================
// BLOG STYLES
//======================================
#blog-list {
    margin-top: 1.5em;

    li {
        background-color: inherit;
    }
}

#blog-stats
{
    font-size:18px;
    font-family:'Proxima_bold';
    //color:#ffe033;
    line-height:2;
}

#blog-new-btn
{
    float:right;
    line-height:1;
    font-family:'Futura_bold';
    font-size:14px;
}

.blog-post-item
{
    .close
    {
        color:#FFF;

        &:hover
        {
            cursor:pointer;
        }
    }

    .fa-edit
    {
        padding-left:0.5em;
        font-size:1.2rem;
    }

    .blog-post-item-title
    {
        text-transform:uppercase;
    }
}

#blog-edit-modal
{
    .modal-header
    {
        small
        {
            font-size:20px;
        }
    }

    .modal-body
    {
        padding:2em;
    }

    .blog-edit-form-headers
    {
        line-height:2;
    }

    #blog-edit-area-container
    {
        margin-top:1em;
        margin-left:0.15em;   
    }

    #blog-edit-form-controls
    {
        text-align:center;
        display:block;
        margin-top:2em;
    }
}

//======================================
// USER STYLES
//======================================

#user-controls-container
{
    float:right;
    padding-bottom:2em;
}

#user-edit-form-controls
{
    text-align: center;
    display: block;
    margin-top: 2em;
}

.user-table-control-btns
{
    background:transparent;
    color:#FFF;
    border:none;
}

