body
{
    background-color:#523aa3;
}

#component-container
{

}

#component-nav-container
{
    height:600px;
    width:210px;
    background:black;

    .component-nav-active
    {
        background-color:#FFF;
        border-right:5px solid #35ff52;
    }
}

.admin-nav-item
{
    border-radius:0 !important;
    height:50px;
    text-transform:uppercase;
    font-family:'Futura_bold';
    border-left:0;
    border-right:0;
    border-bottom:0;

    &:first-of-type
    {
        border-top:0;
    }

}

.admin-nav-icon-container
{
    display:inline-flex;
    border-right:1px solid black;
    color:#FFF;
    background-color: #2c2a35;
    position:absolute;
    top:0;
    left:0;
    height:50px;  
    width:50px;
    justify-content:center;
    align-items:center;
    
    i
    {
        font-size:28px;
    }

}

.admin-nav-item-text
{
    margin-left:50px;
}