/* 
   ================================
              MODULES
   ================================
*/

$mainColor: #7261ee;
$mainBgColor: #f2f2f2;

//Navigation Bar
@import "_navbar"; 

//Home-Landing View
@import "_home";

//Application Fonts
@import "_fonts";

//About View
@import "_about";

//Skills view
@import "_skills";

//Portfolio View
@import "_portfolio";

//Blog View
//@import "_blog";

//Contact View
@import "_contact";

//Footer view
@import "_footer";

//Common styles
@import "_commons.scss";


body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color:$mainBgColor;
}

@media only screen and (max-width:768px)
{
    body
    {
        overflow-y:visible;
        overflow-x:hidden;
    }
}