
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="home-container" class="fixed-top h-100">
    <div class="row h-100 flex-column justify-content-center align-items-center">
        <h1 id="home-title">KYLE RUSSELL</h1>
        <h1 id="home-description">FULL-STACK SOFTWARE DEVELOPER</h1>
    </div>
</div> 