
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="home-container" class="fixed-top h-100">
    <div class="row h-100 flex-column justify-content-center align-items-center">
        <h1 id="home-title">KYLE RUSSELL</h1>
        <h1 id="home-description">FULL-STACK SOFTWARE DEVELOPER</h1>

        <div id="social-media-container">
            <div class="social-icon-container">
                <i class="fab fa-2x fa-github-alt"></i>
            </div>

            <div class="social-icon-container">
                <i class="fab fa-2x fa-twitter"></i>
            </div>

            <div class="social-icon-container">
                <i class="fab fa-2x fa-stack-overflow"></i>
            </div>

            <div class="social-icon-container">
                <i class="fab fa-2x fa-twitch"></i>
            </div>

              <div class="social-icon-container">
                <i class="fas fa-2x fa-rss"></i>
            </div>
        </div>
    </div>
</div> 