
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="module-container">
    <!-- HOME MODULE -->
    @Html.Partial("../Modules/_Home")

    <!-- ABOUT MODULE -->
    @Html.Partial("../Modules/_About")

</div>