<!--
    ==================================
                ABOUT MODULE
    ==================================
-->

<div id="about-container">
    <div class="row h-100 flex-column justify-content-center align-items-center">
        <h1 id="about-title">I <i class="fas fa-heart"></i> TO CODE</h1>
        <h1 id="about-description">FROM NZ. COFFEE CONSUMER. TECH ENTHUSIAST</h1>
        <h1 id="skills-title">WHAT I DO</h1>

        <div id="skills-container">
            <div class="skill-display"><h1>C#/.NET</h1></div>
            <div class="skill-display"><h1>JAVA</h1></div>
            <div class="skill-display"><h1>NODE.JS</h1></div>
        </div>

        <img id="about-rocket" src="Content/images/about_rocket.png" />
    </div>
</div>