<!--
    ==================================
                ABOUT MODULE
    ==================================
-->

<div id="about-container">
    <div class="row h-100 flex-column justify-content-center align-items-center">
        <div class="col-md-5" id="about-content-container">
            <h1 id="about-title">ABOUT ME</h1>
            <h3 id="about-text"></h3>
            <button class="btn btn-lg btn-primary" id="resume-btn">VIEW MY RESUME</button>
        </div>

        <div class="col-md-6" id="about-image-container">
            <img src="~/Content/images/about-img.png" id="about-image" />
        </div>
    </div>
</div>