<!--
    ==================================
               FOOTER MODULE
    ==================================
-->

@using System.Configuration
@using System.Collections.Specialized;

@{ NameValueCollection SocialConfig = ConfigurationManager.GetSection("socialSettings") as NameValueCollection; }

<div id="footer-container" class="section fp-auto-height">
    <div id="inner-footer" class="row h-100 flex-row  align-items-center">

        <img src="~/Content/images/footer-image.png" id="footer-image" />

        <div id="footer-social-icons">
            <a href="@SocialConfig.Get("Twitter")">
                <div id="twitter-social-container" class="social-footer-icon-container social-display">
                    <i class="fab fa-twitter inner-social-icon"></i>
                </div>
            </a>

            <a href="@SocialConfig.Get("Github")">
                <div id="github-social-container" class="social-footer-icon-container social-display">
                    <i class="fab fa-github-alt inner-social-icon"></i>
                </div>
            </a>

            <a href="@SocialConfig.Get("StackOverflow")">
                <div id="stackoverflow-social-container" class="social-footer-icon-container social-display">
                    <i class="fab fa-stack-overflow inner-social-icon"></i>
                </div>
            </a>

            <a href="@SocialConfig.Get("Behance")">
                <div id="dribbble-social-container" class="social-footer-icon-container social-display">
                    <i class="fab fa-behance inner-social-icon"></i>
                </div>
            </a>

            <a href="mailto:@SocialConfig.Get("Email")">
                <div id="email-social-container" class="social-footer-icon-container social-display">
                    <i class="far fa-envelope inner-social-icon"></i>
                </div>
            </a>
        </div>
        <div id="right-info" class="footer-info-container">
            <a href="https://github.com/kyleruss/personal-site" target="_blank" class="footer-info-description">
                Made with <i id="credits-heart" class="far fa-heart"></i> by Kyle Russell
            </a>
            <button id="go-top-btn" class="btn btn-primary footer-btn">GO BACK TOP</button>
        </div>
    </div>
</div>
