<!--
    ==================================
               FOOTER MODULE
    ==================================
-->

<div id="footer-container">
    <div id="inner-footer" class="row h-100 flex-row  align-items-center">
        <div id="left-info" class="footer-info-container">
            <h1 class="footer-info-title">WORK TOGETHER</h1>
            <p class="footer-info-description">
                Looking to work together or hire me for a project? Check out my resume for info and
                get in touch with me
            </p>
            <button id="resume-btn" class="btn btn-primary footer-btn">RESUME</button>
        </div>
        <div id="footer-social-icons">
            <div class="social-footer-icon-container social-display">
                <i class="fab fa-twitter inner-social-icon"></i>
            </div>
            <div class="social-footer-icon-container social-display">
                <i class="fab fa-github-alt inner-social-icon"></i>
            </div>
            <div class="social-footer-icon-container social-display">
                <i class="fas fa-rss inner-social-icon"></i>
            </div>

            <div class="social-footer-icon-container social-display">
                <i class="fab fa-twitch inner-social-icon"></i>
            </div>

            <div class="social-footer-icon-container social-display">
                <i class="fab fa-stack-overflow inner-social-icon"></i>
            </div>
        </div>
        <div id="right-info" class="footer-info-container">
            <h1 class="footer-info-title">VIEW PORTFOLIO</h1>
            <p class="footer-info-description">
                Interested in my recent workand past projects? Check outmy projects on github or youcan view my portfolio below
            </p>
            <button id="portfolio-btn" class="btn btn-primary footer-btn">PORTFOLIO</button>
        </div>
    </div>
</div>

<div id="footer-copyright-container" class="row flex-row justify-content-center align-items-center">
    <h1 id="copyright-header">COPYRIGHT 2019 KYLE RUSSELL  |   ALL RIGHTS RESERVED</h1>
</div>
