<!--
    ==================================
             PORTFOLIO MODULE
    ==================================
-->

<div id="portfolio-container">
    <div class="row h-100 flex-column justify-content-center align-items-center">
        <div id="project-container">
            <repo-data url="@Url.Content("~/Content/resources/repository-data.json")"></repo-data>
            <div id="project-preview">
            </div>

            <div id="project-description-container" class="flex-column">
                <h1 id="project-title">
                    Byte Chat
                </h1>

                <h1 id="project-description">
                    A personal web app highlighting my portfolio
                </h1>

                <div id="project-stats">
                    <h1 id="project-commits" class="project-stat-text">
                        <i class="far fa-arrow-alt-circle-up"></i> <span id="commits-stats"></span> GIT COMMITS
                    </h1>

                    <h1 id="project-lines" class="project-stat-text">
                        <i class="fas fa-chart-line"></i> <span id="codeline-stats"></span> LINES OF CODE
                    </h1>

                    <h1 id="project-languages" class="project-stat-text">
                        <i id="language-stat-icon" class="fas fa-laptop-code"></i>
                        <span class="language-stat"><span class="language-stat-text"> PHP</span></span>
                        <span class="language-stat"><span class="stat-separator">&#8901</span> <span class="language-stat-text">LARAVEL </span></span>
                        <span class="language-stat"><span class="stat-separator">&#8901</span> <span class="language-stat-text">JS</span></span>
                    </h1>
                </div>

                <a href="#" id="view-github-btn" class="btn btn-primary">VIEW ON GITHUB</a>
            </div>
        </div>
    </div>

    <h1 id="portf-left-arrow" class="portf-arrow">
        <
    </h1>

    <h1 id="portf-right-arrow" class="portf-arrow">
        >
    </h1>
</div>