<div id="resume-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
  

            <div class="modal-body">
                <embed id="resume-embed" src="~/Content/resources/KyleRussellResume.pdf" height="1050px" width="100%" />
            </div>
        </div>
    </div>
</div>
