<!--
    ==================================
                SKILLS MODULE
    ==================================
-->

<div id="skills-container">
    <h1 id="skill-title">What I do best</h1>

    <div id="skills-container" class="row">
        @{ 
            var skillList = new Dictionary<string, List<string>>
            {
                { "Frontend",  new List<string>() { "Angular", "HTML", "CSS", "Sass", "Bulma", "Bootstrap", "JS/TS", "jQuery" } },
                { "Backend", new List<string>() { "C#/.NET", "Java", "Spring", "PHP", "Laravel", "Node.JS", "Socket.IO", "SQL" } },
                { "Other", new List<string>() { "Android", "Kotlin", "Ionic", "Cordova", "Git", "Maven", "Grunt", "Azure" } }
            };
        }

        @foreach(var skillItem in skillList)
        {
        <div class="col-md-2">
            <div class="skill-inner-container col-md-12">
                <div class="skill-icon-container">
                    @if (skillItem.Key == "Frontend")
                    { <i class="fas fa-code skill-icon"></i> }

                    else if(skillItem.Key == "Backend")
                    { <i class="fas fa-server skill-icon"></i> }

                    else
                    { <i class="fas fa-mobile-alt skill-icon"></i> }
                </div>

                <h2 class="skill-type-title">@skillItem.Key</h2>

                <div class="skill-list-container">
                    @foreach (string skill in skillItem.Value)
                    {
                        <span class="badge badge-primary skill-badge">
                            <i class="fas fa-circle"></i>
                            <span class="skill-name">@skill</span>
                        </span>
                    }
                </div>
            </div>
        </div>
        }
    </div>
</div>