<!--
    ==================================
                SKILLS MODULE
    ==================================
-->

<div id="skills-container">
    <h1 id="skill-title">What I do best</h1>

    <div id="skills-container" class="row">
        @for (var i = 0; i < 3; i++)
        {
        <div class="skill-inner-container col-md-4">
        </div>
        }
    </div>
</div>