@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css
{

    @Styles.Render("~/Content/css/error.min.css")
}

<div id="error-container" class="fixed-top">
    <img src="Content/images/error_background.png" id="error-bg"/>
</div>