@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string ErrorMsg;
    
    switch(Response.StatusCode)
    {
        case 404:
            ErrorMsg = "Page not found";
            break;


        case 403:
            ErrorMsg = "You are not authoirzed";
            break;
            
        case 400:
            ErrorMsg = "Bad Request";
            break;
            
        default:
            ErrorMsg = "Internal Server Error";
            break;
    }
}

@section Css
{

    @Styles.Render("~/Content/css/error.min.css")
}

<div id="error-container" class="fixed-top">
    <img src="Content/images/error_background.png" id="error-bg"/>
    
    <div id="error-text-container">
        <h1 id="error-statuscode" class="error-page-text">@Response.StatusCode</h1>
        <h3 id="error-msg-title" class="error-page-text">@ErrorMsg</h3>
       

        <button class="btn btn-primary" id="error-return-btn">Home page</button>
    </div>
</div>