<!--
    ==================================
                ABOUT MODULE
    ==================================
-->

<div id="about-container">
    <div class="row h-100 flex-column justify-content-center align-items-center">
        <h1 id="about-title">I <i class="fas fa-heart"></i> TO CODE</h1>
        <h1 id="about-description">FROM NZ. COFFEE CONSUMER. TECH ENTHUSIAST</h1>
        <h1 id="skills-title">WHAT I DO</h1>
    </div>
</div>