<!--
    ==================================
                ABOUT MODULE
    ==================================
-->

<div id="blog-container">
    <div class="row h-100 flex-row justify-content-center align-items-center">
        <div id="blog-titles">
            <h1 id="blog-main-title">BLOG</h1>
            <h1 id="blog-main-description">A COLLECTION OF ARTICLES &amp; MY THOUGHTS</h1>
        </div>

        <div id="blog-display-container" class="flex-row">
            <div class="blog-post-display"></div>
            <div class="blog-post-display"></div>
            <div class="blog-post-display"></div>

            <div id="blog-controls">

            </div>
        </div>
    </div>
</div>