<!--
    ==================================
                ABOUT MODULE
    ==================================
-->

<div id="blog-container">
    <div id="blog-inner-container" class="row h-100 flex-row justify-content-center align-items-center">
        <div id="blog-titles">
            <h1 id="blog-main-title">BLOG</h1>
            <h1 id="blog-main-description">A COLLECTION OF ARTICLES &amp; MY THOUGHTS</h1>
            <button id="subscribe-btn" class="btn btn-primary"><i class="fas fa-rss"></i> Subscribe</button>
        </div>

        <div id="blog-display-container" class="flex-column">
            <div id="blog-displays">
                <div class="blog-post-display"></div>
                <div class="blog-post-display"></div>
                <div class="blog-post-display"></div>
             </div>

            <div id="blog-controls" class="row justify-content-center align-items-center">
                <button id="left-post-btn" class="btn btn-default blog-nav-btn"><i class="fas fa-angle-left"></i></button>
                <span id="post-pagination">1 / 5</span>
                <button id="right-post-btn" class="btn btn-default blog-nav-btn"><i class="fas fa-angle-right"></i></button>
            </div>
        </div>
    </div>
</div>