<!--
    ==================================
                BLOG MODULE
    ==================================
-->

<div id="blog-container">
    <div id="blog-inner-container" class="row h-100 flex-row justify-content-center align-items-center">
        <div id="blog-titles">
            <h1 id="blog-main-title">BLOG</h1>
            <h1 id="blog-main-description">A COLLECTION OF ARTICLES &amp; MY THOUGHTS</h1>
            <button id="subscribe-btn" class="btn btn-primary"><i class="fas fa-rss"></i> Subscribe</button>
        </div>

        <div id="blog-display-container" class="flex-column">
            <blog-data url="@Url.Action("GetBlogPosts", "Blog")"></blog-data>

            <div id="blog-displays" class="row">
                @for (var i = 0; i < 3; i++)
                {
                    <div data-blog-index="@i" class="blog-post-display justify-content-center align-items-center">
                        <div class="blog-post-inner-container"></div>
                        <h1 class="blog-post-title"></h1>
                    </div>
                }
            </div>

            <div id="blog-controls" class="row justify-content-center align-items-center">
                <button id="left-post-btn" class="btn btn-default blog-nav-btn"><i class="fas fa-angle-left"></i></button>
                <span id="post-pagination">
                    <span id="post-pagination-current">1</span> /
                    <span id="post-pagination-total">5</span>
                </span>
                <button id="right-post-btn" class="btn btn-default blog-nav-btn"><i class="fas fa-angle-right"></i></button>
            </div>
        </div>
    </div>

    <div id="blog-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="blog-modal-title" class="modal-title">My blog</h3>

                    <button id="blog-modal-close" type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div id="blog-modal-body" class="modal-body">
                    This is my blog post
                </div>

                <div id="blog-modal-footer" class="modal-footer">
                    <div id="comment-alert" class="alert deep-danger alert-dismissible show" role="alert">
                        <h3>
                            <i class="fas fa-exclamation-circle"></i>
                            <strong>Error</strong>
                        </h3>
                        <h5 id="comment-alert-msg">An error has occured</h5>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    
                    <div id="blog-comment-controls">
                        <div id="current-user-img" class="profile-img-container">
                            <i class="fas fa-user"></i>
                        </div>
                        @using (Html.BeginForm("PostComment", "Blog", FormMethod.Post, new { id = "post-comment-form", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                          <div class="input-group">
                              <input type="text" id="comment-form-content" class="form-control" placeholder="Enter your comment" />
                                <div class="input-group-append">
                                    <button type="submit" id="blog-comment-btn" class="btn btn-primary">
                                        <i id="blog-save-success" class="fas fa-check collapse"></i>
                                        <span id="blog-save-btn-spinner" class="spinner-border" role="status"></span>
                                        <span id="blog-save-btn-text">Reply</span>
                                    </button>
                                </div>
                            </div>
                        }
                    </div>

                    <div id="blog-comment-container">
                        <blog-comment-data url="@Url.Action("GetBlogComments", "Blog")"></blog-comment-data>
                        <div id="blog-comment-template" class="blog-comment card">
                            <div class="card-body">
                                <div class="card-title">
                                    <div class="profile-img-container blog-comment-img">
                                        <i class="fas fa-user"></i>
                                    </div>

                                    <div class="blog-comment-title">
                                        <h5 class="blog-comment-user">John Russell</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">2 days ago</h6>
                                    </div>
                                </div>

                                <p class="card-text blog-comment-text">This is an example comment. Hello World!</p>
                            </div>
                        </div>

                        <div id="blog-comments">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>