<!--
    ==================================
                ABOUT MODULE
    ==================================
-->

<div id="contact-container">
    <div id="contact-inner-container" class="row h-100 justify-content-center">
        <div id="contact-form-container" class="row flex-column align-items-center">
            <div id="contact-form-headers">
                <h1 id="contact-form-title">GET IN TOUCH</h1>
                <h1 id="contact-form-desc">Looking to work together or ask a question?</h1>
            </div>
        
            <form id="contact-form">

                <!-- Contact name -->
                <div class="form-group contact-form-field-container row">
                    <i class="fas fa-user col-sm-2"></i>
                    <input type="text" class="form-control col-sm-10 contact-textfield" id="contact-name-field" name="contactName"
                           placeholder="WHAT'S YOUR NAME?" />
                </div>

                <!-- Contact Email -->
                <div class="form-group contact-form-field-container row">
                    <i class="fas fa-envelope col-sm-2"></i>
                    <input type="text" class="form-control col-sm-10 contact-textfield" id="contact-email-field" name="contactEmail"
                           placeholder="ENTER YOUR EMAIL" />
                </div>

                <div class="form-group row">
                    <textarea class="form-control" id="contact-message-field" name="contactMessage" rows="6"></textarea>
                </div>

                <div class="form-group row">
                    <button type="submit" class="btn btn-primary" id="contact-submit">SEND MESSAGE</button>
                </div>
            </form>
        </div>

        <div id="contact-img">
            <img src="Content/images/contact.png" />
        </div>
    </div>
</div>
