<!--
    ==================================
             PORTFOLIO MODULE
    ==================================
-->

<div id="portfolio-container">
    <div class="row h-100 flex-column justify-content-center align-items-center">
        <div id="project-container">
            <div id="project-preview">

            </div>

            <div id="project-description-container" class="flex-column">
                <h1 id="project-title">
                    Byte Chat
                </h1>

                <h1 id="project-description">
                    An encrypted instant mesasging web app.
                </h1>

                <div id="project-stats">
                    <h1 id="project-commits" class="project-stat-text">
                        <img src="~/Content/images/giticon.png" width="35" height="35"/> 250 GIT COMMITS
                    </h1>

                    <h1 id="project-lines" class="project-stat-text">
                        <i class="fas fa-chart-line"></i> 30K LINES OF CODE
                    </h1>

                    <h1 id="project-languages" class="project-stat-text">
                        <i class="fas fa-laptop-code"></i> PHP LARAVEL JS
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <h1 id="portf-left-arrow" class="portf-arrow">
        <
    </h1>

    <h1 id="portf-right-arrow" class="portf-arrow">
        >
    </h1>
</div>