@model personal_site.ViewModels.AdminLoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css
{
    @Styles.Render("~/Content/css/admin-login.min.css")
}

<div id="admin-login-panel" class="container-center">
    <img src="~/Content/images/admin_login_panel.png" id="login-panel-img" />
    <div id="admin-login-entry-panel" class="row flex-column align-items-center">
        <div id="login-title-icon-container" class="row">
            <i class="fas fa-user" id="admin-login-title-icon"></i>
        </div>

        <h1 id="admin-login-title-text">
            Admin Login
        </h1>

        @using (Html.BeginForm("Login", "Admin", FormMethod.Post, new { id = "admin-login-form", role = "form", @class = "row flex-column align-items-center" }))
        {
            @Html.AntiForgeryToken()

            <div class="input-group row">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-user"></i>
                    </span>
                </div>

                @Html.TextBoxFor(m => m.Username,
                new { @class = "form-control", placeholder = "Username" })
            </div>

            <div class="input-group row">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>

                @Html.TextBoxFor(m => m.Password,
                 new { @class = "form-control", placeholder = "Passwoord" })
            </div>

            <div class="form-group row">
                <button class="btn btn-primary" type="submit" id="admin-login-btn">Login</button>
            </div>
        }
    </div>
</div>
