
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminPanelLayout.cshtml";
}

@section AdminComponentTitle { Repositories }

@section AdminHomeComponent
{

    <script>
        var repoFetchUrl = '@Url.Content("~/Content/resources/repository-data.json")';
    </script>

    <div class="card inner-component-card col-md-5">
        <div class="card-header">
            <span class="inner-component-title"><i class="fas fa-circle"></i> Run task</span>
        </div>

        <div class="card-body center-body">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose Task
            </button>

            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Task A</a>
                <a class="dropdown-item" href="#">Task B</a>
                <a class="dropdown-item" href="#">Task C</a>
                <a class="dropdown-item" href="#">Task D</a>
                <a class="dropdown-item" href="#">Task E</a>
            </div>

            <button class="btn btn-success" id="task-run-btn"><i class="far fa-arrow-alt-circle-up"></i></button>
        </div>
    </div>

    <div class="col-md-2">

    </div>

    <div class="card inner-component-card col-md-5">
        <div class="card-header">
            <span class="inner-component-title"><i class="fas fa-circle"></i> Manage</span>
        </div>

        <div class="card-body center-body">
            <span id="repo-count-text"><span class="badge badge-light">28</span> Repos</span>
            <button class="btn btn-warning"><i class="far fa-check-circle"></i> Update</button>
        </div>
    </div>

    <div class="card inner-component-card col-md-12 component-upper-margin">
        <div class="card-header">
            <span class="inner-component-title"><i class="fas fa-circle"></i> Repository List</span>
        </div>

        <div class="card-body" id="repo-list-body">
            <table class="table" id="repo-table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Tech</th>
                        <th scope="col">Controls</th>
                    </tr>
                </thead>

                <tbody id="repo-table-body">
                </tbody>
            </table>
        </div>
    </div>
}

