
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminPanelLayout.cshtml";
}

@section AdminComponentTitle { RSS Feed }

@section AdminHomeComponent
{
    <div class="col-md-6">
        <div class="card inner-component-card col-md-12" id="rss-channel-component">
            <div class="card-header">
                <span class="inner-component-title"><i class="fas fa-circle"></i> Channel Settings</span>
            </div>

            <div class="card-body">
                @using(Html.BeginForm("UpdateRssChannel", "Rss", new { Area = "Admin" }, FormMethod.Post, new { id = "admin-rss-chanel-form", role = "form" }))
                {
                    <div class="form-group">
                        <label class="rss-form-label">Name</label>
                        <input class="form-control" placeholder="Enter the channel name" />
                    </div>

                    <div class="form-group">
                        <label class="rss-form-label">Description</label>
                        <input class="form-control" placeholder="Enter the channel description"/>
                    </div>

                    <div class="form-group">
                        <label class="rss-form-label">Image</label>
                        <input class="form-control" placeholder="Enter the URL Image"/>
                    </div>

                    <div class="center-body">
                        <button type="submit" id="channel-update-btn" class="btn btn-success"><i class="far fa-arrow-alt-circle-up"></i> Update</button>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card inner-component-card col-md-12" id="rss-items-component">
            <div class="card-header">
                <span class="inner-component-title"><i class="fas fa-circle"></i> Manage Items</span>
            </div>

            <div class="card-body">
                @using(Html.BeginForm("PushRssUpdate", "Rss", new { Area = "Admin" }, FormMethod.Post, new { id = "admin-rss-item-form", role = "form" }))
                {
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Item Description" />
                        <div class="input-group-append">
                            <button id="rss-item-add-btn" class="btn btn-primary" type="button">Add</button>
                        </div>
                    </div>
                }

                <div class="list-group" id="rss-items-list">
                    @for (var i = 0; i < 5; i++)
                    {
                        <a href="@Url.Action("RemoveRssItem", "Rss", @i)" class="list-group-item rss-item"><span class="badge badge-success">blog</span> 
                            <span class="rss-item-text">Post @i</span> <button class="close">&times;</button>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
}

