@model personal_site.ViewModels.AdminSocialMediaViewModel

@using personal_site.ViewModels
@using personal_site.Services

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminPanelLayout.cshtml";
    string[] socialMedia = { "Twitter", "Github", "Dribble", "Rss", "StackOverflow" };
}

@section AdminComponentTitle { Social Media }

@section AdminHomeComponent
{
    <div id="social-media-container">
        @using (Html.BeginForm("SaveSocialMediaInfo", "Social", FormMethod.Post, new { id = "socialUpdateForm" }))
        {
            AdminSocialMediaViewModel currentSocialModel = SocialMediaService.GetInstance().SocialModel;
            foreach (string socialItem in socialMedia)
            {
                string iconClass = "";
                string currentSocialValue = "";

                switch (socialItem)
                {
                    case "Twitter":
                        iconClass = "fab fa-twitter";
                        currentSocialValue = currentSocialModel.Twitter;
                        break;

                    case "Github":
                        iconClass = "fab fa-github-alt";
                        currentSocialValue = currentSocialModel.Github;
                        break;

                    case "StackOverflow":
                        iconClass = "fab fa-stack-overflow";
                        currentSocialValue = currentSocialModel.StackOverflow;
                        break;

                    case "Rss":
                        iconClass = "fas fa-rss";
                        currentSocialValue = currentSocialModel.Rss;
                        break;

                    case "Dribble":
                        iconClass = "fab fa-dribbble";
                        currentSocialValue = currentSocialModel.Dribble;
                        break;
                }


                <div class="input-group social-media-group">
                    <div class="social-media-display" id="@socialItem-display">
                        <i class="@iconClass"></i>
                    </div>

                    
                    <input class="form-control social-media-input" value="@currentSocialValue" id="@socialItem-item" name="@socialItem" />
                </div>
            }

        <div id="social-btn-container">
            <button type="submit" class="btn btn-lg btn-success" id="social-update-btn"><i class="far fa-arrow-alt-circle-up"></i> Update</button>
        </div>
        }
    </div>
}

