<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Kyle Russell</title>

        @Styles.Render("~/Content/css/main.min.css")
    </head>

    <body>
        <div id="main-container">
            @RenderBody()
        </div>
    </body>
</html>