<nav id="side-navbar" class="navbar">
    <ul id="side-navbar-list" class="">
        <li class="nav-item"><a class="nav-link" href="#home-container"></a></li>
        <li class="nav-item"><a class="nav-link" href="#about-container"></a></li>
        <li class="nav-item"><a class="nav-link" href="#skills-container"></a></li>
        <li class="nav-item"><a class="nav-link" href="#portfolio-container"></a></li>
        <li class="nav-item"><a class="nav-link" href="#contact-container"></a></li>
    </ul>
</nav>
