<nav id="side-navbar" class="">
    <!--<ul id="side-navbar-list" class=""> -->
        <div class="side-navbar-item active" data-targeturl="#home-container"></div>
        <div class="side-navbar-item" data-targeturl="#about-container"></div>
        <div class="side-navbar-item" data-targeturl="#skills-container"></div>
        <div class="side-navbar-item" data-targeturl="#portfolio-container"></div>
        <div class="side-navbar-item" data-targeturl="#contact-container"></div>
    <!-- </ul> -->
</nav>
