<nav id="side-navbar" class="">
    <!--<ul id="side-navbar-list" class=""> -->
        <div class="side-navbar-item side-navbar-offcolor active" data-targeturl="#home-container"></div>
        <div class="side-navbar-item side-navbar-offcolor" data-targeturl="#about-container"></div>
        <div class="side-navbar-item side-navbar-offcolor" data-targeturl="#skills-container"></div>
        <div class="side-navbar-item side-navbar-offcolor" data-targeturl="#portfolio-container"></div>
        <div class="side-navbar-item side-navbar-offcolor" data-targeturl="#contact-container"></div>
    <!-- </ul> -->
</nav>
