@model personal_site.ViewModels.AuthCallbackViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool AuthStatus = User.Identity.IsAuthenticated;
}

<br />
<div id="callback-container" class="jumbotron fixed-top" data-status="@AuthStatus">
    <div class="container">
    @if (AuthStatus)
    {
        <h1 class="social-callback-title">You have been logged in</h1>
        <h5 class="social-callback-description">@Model.ResponseMessage</h5>
        <button class="btn btn-lg btn-primary">Return</button>
    }

    else
    {
        <h1 class="social-callback-title">Something went Wrong!</h1>
        <h5 class="social-callback-description">@Model.ResponseMessage</h5>
        <button class="btn btn-lg btn-primary">Try again</button>
    }
    </div>
</div>

@section Javascript
{
    @Scripts.Render("~/Content/scripts/auth-callback.js")
}