@model personal_site.ViewModels.AuthCallbackViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool AuthStatus = User.Identity.IsAuthenticated;
}

<br />
<div id="callback-container" class="jumbotron fixed-top" data-status="@AuthStatus">
    <div id="callback-text-container" class="container flex-column">
        @if (AuthStatus) { <h1 class="social-callback-title">Login</h1> }

        else { <h1 class="social-callback-title">Login Failed</h1> }

        <h5 class="social-callback-description">You will be redirected shortly</h5>
        <button id="social-callback-returnbtn" class="btn btn-primary">Home</button>
    </div>

    <img id="callback-image" src="~/Content/images/login-callback-image.png" width="500" height="285"/>
</div>

@section Javascript
{
    @Scripts.Render("~/Content/scripts/auth-callback.js")
}