
@{
    Layout = "~/Views/Admin/_AdminPanelLayout.cshtml";
}

@section AdminComponentTitle { Blog }

@section AdminHomeComponent
{
    <div class="card inner-component-card col-md-12">
        <div class="card-header">
            <span class="inner-component-title"><i class="fas fa-circle"></i> Manage Posts</span>
        </div>

        <div class="card-body">
            <div id="admin-blog-controls">
                <span id="blog-stats"><i class="fas fa-chart-bar"></i> <span id="blog-stat-text">5 Blog Posts</span></span>
                <button class="btn btn-lg btn-success" id="blog-new-btn"><i class="fas fa-plus"></i> New Blog</button>
            </div>

            <ul class="list-group" id="blog-list">
                <li class="list-group-item blog-post-item">Blog Post #1</li>
                <li class="list-group-item blog-post-item">Blog Post #2</li>
                <li class="list-group-item blog-post-item">Blog Post #3</li>
                <li class="list-group-item blog-post-item">Blog Post #4</li>
                <li class="list-group-item blog-post-item">Blog Post #5</li>
            </ul>
        </div>
    </div>
}

