
@{
    Layout = "~/Views/Admin/_AdminPanelLayout.cshtml";
}

@section AdminComponentTitle { Blog }

@section AdminHomeComponent
{
    <div class="card inner-component-card col-md-12">
        <div class="card-header">
            <span class="inner-component-title"><i class="fas fa-circle"></i> Manage Posts</span>
        </div>

        <div class="card-body">
            <div id="admin-blog-controls">
                <span id="blog-stats"><i class="fas fa-chart-bar"></i> <span id="blog-stat-text">5 Blog Posts</span></span>
                <button data-toggle="modal" data-target="#blog-edit-modal" class="btn btn-lg btn-success" id="blog-new-btn"><i class="fas fa-plus"></i> New Blog</button>
            </div>

            <ul class="list-group" id="blog-list">
                @for (var i = 0; i < 5; i++)
                {
                    <li class="list-group-item blog-post-item">
                        <span class="blog-post-item-title">Blog Post #@i</span>
                        <span class="close"><i class="far fa-edit"></i></span>
                        <span class="close">&times;</span>
                    </li>
                }

            </ul>
        </div>
    </div>


}

