
@{
    Layout = "~/Views/Admin/_AdminPanelLayout.cshtml";
}

@section AdminComponentTitle { Blog }

@section AdminHomeComponent
{
    <div class="card inner-component-card col-md-12">
        <div class="card-header">
            <span class="inner-component-title"><i class="fas fa-circle"></i> Manage Posts</span>
        </div>

        <div class="card-body">
            <div id="admin-blog-controls">
                <span id="blog-stats"><i class="fas fa-chart-bar"></i> <span id="blog-stat-text">5 Blog Posts</span></span>
                <button data-toggle="modal" data-target="#blog-edit-modal" class="btn btn-lg btn-success" id="blog-new-btn"><i class="fas fa-plus"></i> New Blog</button>
            </div>

            <ul class="list-group" id="blog-list">
                @for (var i = 0; i < 5; i++)
                {
                    <li class="list-group-item blog-post-item">
                        <span class="blog-post-item-title">Blog Post #@i</span>
                        <span class="close"><i class="far fa-edit"></i></span>
                        <span class="close">&times;</span>
                    </li>
                }

            </ul>
        </div>
    </div>

    <div class="modal fade" id="blog-edit-modal" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>
                        Create Blog Post
                        <br />
                        <small>Enter the blog details below to save a blog post</small>
                    </h2>
                    <button data-dismiss="modal" class="close">&times;</button>
                </div>

                <div class="modal-body" id="blog-edit-modal-body">
                    <form id="blog-edit-form">
                        <div class="form-group row">
                            <h5 class="blog-edit-form-headers col-md-3">Title</h5>
                            <input class="form-control col-md-8" id="blog-edit-title" placeholder="Enter blog post title" />
                        </div>

                        <div class="form-group row">
                            <h5 class="blog-edit-form-headers col-md-3">Description</h5>
                            <input class="form-control col-md-8" id="blog-edit-desc" placeholder="Enter blog post description" />
                        </div>

                        <div class="form-group row" id="blog-edit-area-container">
                            <textarea class="form-control col-md-11" id="blog-edit-area" rows="10" placeholder="Enter your blog post content"></textarea>
                        </div>

                        <div class="btn-group" id="blog-edit-form-controls" role="group">
                            <button class="btn btn-lg btn-primary">Go Back</button>
                            <button class="btn btn-lg btn-success">Save Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

