
@{
    Layout = "~/Views/Admin/_AdminPanelLayout.cshtml";
}

@section AdminComponentTitle { Dashboard }

@section AdminHomeComponent
{
    <div class="card col-md-4 dashboard-stat-card" id="user-card">
        <div class="card-body">
            <i class="fas fa-3x fa-user-friends dashboard-mini-stat-icon"></i>
            <div class="dashboard-mini-stat-container">
                <h1>120</h1>
                <h5>Users</h5>
            </div>
        </div>
    </div>

    <div class="card col-md-4 dashboard-stat-card ml-auto" id="user-card">
        <div class="card-body">
            <i class="fas fa-3x fa-user-friends dashboard-mini-stat-icon"></i>
            <div class="dashboard-mini-stat-container">
                <h1>120</h1>
                <h5>Users</h5>
            </div>
        </div>
    </div>

    <div class="card col-md-4 dashboard-stat-card ml-auto" id="user-card">
        <div class="card-body">
            <i class="fas fa-3x fa-user-friends dashboard-mini-stat-icon"></i>
            <div class="dashboard-mini-stat-container">
                <h1>120</h1>
                <h5>Users</h5>
            </div>
        </div>
    </div>

    <div class="card col-md-8" id="dashboard-graph-container">
        <div class="card-body"></div>
    </div>
}