@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css
{
    @Styles.Render("~/Content/css/admin-login.scss");
}

<div id="admin-login-panel">
    <img src="~/Content/images/admin_login_panel.png" id="login-panel-img"/>
    <div id="admin-login-entry-panel">

    </div>
</div>
