
@{
    Layout = "~/Views/Admin/_AdminPanelLayout.cshtml";
}

@section AdminComponentTitle { Repositories }

@section AdminHomeComponent
{
    <div class="card inner-component-card col-md-5">
        <div class="card-header">
            
            <span class="inner-component-title"><i class="fas fa-circle"></i> Run task</span>
        </div>

        <div class="card-body">

        </div>
    </div>
}

