
@{
    Layout = "~/Views/Admin/_AdminPanelLayout.cshtml";
}

@section AdminComponentTitle { RSS Feed }

@section AdminHomeComponent
{
    <div class="col-md-6">
        <div class="card inner-component-card col-md-12">
            <div class="card-header">
                <span class="inner-component-title"><i class="fas fa-circle"></i> Channel Settings</span>
            </div>

            <div class="card-body">
                <div class="form-group">
                    <label class="rss-form-label">Name</label>
                    <input class="form-control" />
                </div>

                <div class="form-group">
                    <label class="rss-form-label">Description</label>
                    <input class="form-control" />
                </div>

                <div class="form-group">
                    <label class="rss-form-label">Image</label>
                    <input class="form-control" />
                </div>

                <div class="center-body">
                    <button class="btn btn-success"><i class="far fa-arrow-alt-circle-up"></i> Update</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card inner-component-card col-md-12">
            <div class="card-header">
                <span class="inner-component-title"><i class="fas fa-circle"></i> Manage Items</span>
            </div>

            <div class="card-body">

            </div>
        </div>
    </div>
}

