
@{
    Layout = "~/Views/Admin/_AdminPanelLayout.cshtml";
}

@section AdminComponentTitle { RSS Feed }

@section AdminHomeComponent
{
    <div class="card inner-component-card col-md-6">
        <div class="card-header">
            <span class="inner-component-title"><i class="fas fa-circle"></i> Channel Settings</span>
        </div>

        <div class="card-body">

        </div>
    </div>

    <div class="card inner-component-card col-md-6">
        <div class="card-header">
            <span class="inner-component-title"><i class="fas fa-circle"></i> Manage Items</span>
        </div>

        <div class="card-body">

        </div>
    </div>
}

